@font-face {
	font-family: Thunder;
	src: url("../src/assets/fonts/Thunder-BlackLC.ttf");
}

@theme {
	--font-thunder: Thunder, "sans-serif";
}

@import "tailwindcss";
@import "lenis/dist/lenis.css";
